.best-watch {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  }
  
   .swiper-best-watch {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }
  
   .best-products-img {
    user-select: none;
    cursor: pointer;
    display: block;
    height: 250px;
    object-fit: cover;
margin: auto;
    width: 250px;
  }
.swiper-pagination-bullet-active {
  background-color: #ffc107 !important;
  padding: 6px;
}