.smart-watch-container{
    background-color: #171715;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding: 25px 15px;
}
@media screen and (min-width: 768px) {
    .max-smart-watch-gif{
        width: max-content;
    }
}
@media screen and (max-width: 768px) {
    .max-smart-watch-gif{
        width: 250px;
        display: block;
        margin: auto;
    }
}
