.con {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.border-row {
    border: 1px solid gray;
    border-radius: 10px;
}

.bg-login-img {
    background-image: url('https://arvin-watch-shop.storage.c2.liara.space/Form-images/log-in-image.jpg');
    background-position: center;
    background-size: cover;
    min-height: 400px;
    min-width: 400px;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .bg-img-display {
        display: none;
    }
}

.form-input-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input {
    position: relative;
}

.floating-label {
    font-size: 14px;
    color: gray;
    position: absolute;
    pointer-events: none;
    top: 30px;
    right: 10px;
}

.form-input:focus ~ .floating-label {
    transition: all 0.2s ease;
    top: 5px;
    color: rgb(175, 175, 175);
    background-color: #1D1D1B;
}
.form-input:focus + .floating-label , .form-input:not(:placeholder-shown) + .floating-label {
    transition: all 0.2s ease;
    top: 5px;
    color: rgb(175, 175, 175);
    background-color: #1D1D1B;
}
.form-input {
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 8px 30px;
    margin: 20px 0;
    color: white;
}

.btn-border {
    margin: 20px auto;
    padding: 10px;
    border: 1px solid gray;
    width: max-content;
    border-radius: 50px;
}

.btns {
    all: unset;
    cursor: pointer;
    margin: 0 20px;
    transition: all .25s;
}

.btns:hover {
    color: yellow;

}